<!-- <div  style="background-color:rgba(191,43,8,0.1);padding-left:1em;position: sticky; top: 0;"> -->
<!-- <div  style="background-color:rgba(255,153,102,1);padding-left:0em;position: sticky; top: 0;"> -->

    <div >

    <button  class="w3-button w3-container my-container b-parent " onclick="showAll('b-parent','c-parent');location.href='#first';return false;" style="background-color:white"> 
    <!-- value='{{category|upper}}'/> -->
    TODOS
   </button>

</div>
{% for parent in parents.names%}
<div >
    <button  class="w3-button w3-container my-container b-parent " onclick="openParents(event,'id-{{parent}}','b-parent','c-parent');location.href='#{{parent}}';return false;" style="background-color:{{parents.bgcolors[loop.index0]}}"> 
    <!-- value='{{category|upper}}'/> -->
    {{parent|upper}}
   </button>

</div>
{% endfor %}

<!-- </div >  -->
<!-- close stlye category buttons-->